<#include "/baseaddress.html" />

<@override name="head">

</@override>

<@override name="content">
	<div class="contents">
		
		<div class="demoTable">
			<!-- 搜索ID：
			<div class="layui-inline">
				<input class="layui-input" name="id" id="idParam" autocomplete="off">
				<select name="picTypeId" lay-verify="required" lay-search="" id="picTypeId" value="">
					<option value="">请选择分类</option>
				</select>
			</div> -->
			<div class="layui-inline">
				<form class="layui-form" action="">
					<select name="picType" lay-verify="" lay-search id="picType">
						<option value="">请选择分类</option>
					</select>     
				</form>
			</div>
			<button class="layui-btn" data-type="reload" id="search">搜索</button>
			<button class="layui-btn" id="updatePic" style="float: right;margin-right: 5%;"><i class="layui-icon">&#xe654;</i>添加图片</button>
		</div>
		
	
		<table class="layui-hide" id="pictureTable" lay-filter="tableFilter"></table>
	</div>
	
<script id="img" type="text/html">
	<div><img height="20" width="100" src="/tool/downloader?fileName={{d.url}}"></div>
</script>

<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script charset="utf-8" type="text/javascript" src="${baseAddress}/js/console/picture/picture.js"></script>
</@override>
<@extends name="*/base.html"/>
