<ul class="layui-nav" lay-filter="">
	<li class="layui-nav-item"><a href="">sequoiapharmacy</a></li>
	<li class="layui-nav-item layui-this"><a href="">首页</a></li>
	<li class="layui-nav-item"><a href="${baseAddress}/webSet/index" target="option">网站设置</a></li>
	<li class="layui-nav-item"><a href="${baseAddress}/picture/index" target="option">图片管理</a></li>
	<li class="layui-nav-item"><a href="${baseAddress}/news/index" target="option">新闻管理</a></li>
	<li class="layui-nav-item"><a href="">产品管理</a></li>
	<li class="layui-nav-item"><a href="${baseAddress}/aboutUs/index" target="option">关于我们</a></li>
	<li class="layui-nav-item"><a href="${baseAddress}/policy/index" target="option">隐私政策</a></li>
</ul>
 
<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;
  
  //…
});
</script>
