<#include "/baseaddress.html" />

<@override name="head">

<style>
.layui-layout-admin .layui-footer{
left:0px;
right:0px;
}

.layui-body {
left:0;
overflow-y:hidden;
}
</style>

</@override>

<@override name="content">
<div class="layui-layout layui-layout-admin kit-layout-admin">
 		
	<!-- start header -->
		<#include "/console/head.html" />
	<!-- end header-->

	<div class="layui-body" id="container" >
		 <iframe id="option" name="option" src="" style="overflow: visible;" scrolling="yes" frameborder="no" width="100%" height="100%"></iframe>
	</div>

	<div class="layui-footer text-right">
	    <!-- 底部固定区域 -->
	    test
	</div>
</div>
  
</@override>
<@extends name="*/base.html"/>
